@import url('https://fonts.googleapis.com/css?family=Varela+Round');

html {
  position: relative;
  min-height: 100%;
}
.breadcrumb a{
  color: #9f3122;
  font-weight: 600;
}
.breadcrumb a:hover{
  text-decoration: none;
  color:#808080;
}
*{
  transition: all 2.s ease-in-out!important;
}

body {
  font-family: 'Varela Round', sans-serif!important;
  font-size: 87%!important;
  height: 100%;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top:41px;
}

#wrapper #content-wrapper {
  overflow-x: hidden;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 80px;
}

body.fixed-nav #content-wrapper {
  margin-top: 56px;
  padding-left: 90px;
}

body.fixed-nav.sidebar-toggled #content-wrapper {
  padding-left: 0;
}

@media (min-width: 768px) {
  body.fixed-nav #content-wrapper {
    padding-left: 225px;
  }
  body.fixed-nav.sidebar-toggled #content-wrapper {
    padding-left: 90px;
  }
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 46px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

.smaller {
  font-size: 0.7rem;
}

.o-hidden {
  overflow: hidden !important;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.navbar-nav .form-inline .input-group {
  width: 100%;
}

.navbar-nav .nav-item.active .nav-link {
  color: #fff;
}

.navbar-nav .nav-item.dropdown .dropdown-toggle::after {
  width: 1rem;
  text-align: center;
  float: right;
  vertical-align: 0;
  border: 0;
  font-weight: 900;
  content: '\f105';
  font-family: 'FontAwesome'!important;
  visibility: hidden;
}

.navbar-nav .nav-item.dropdown.show .dropdown-toggle::after {
  content: '\f107';
}

.navbar-nav .nav-item.dropdown.no-arrow .dropdown-toggle::after {
  display: none;
}

.navbar-nav .nav-item .nav-link:focus {
  outline: none;
}

.navbar-nav .nav-item .nav-link .badge {
  position: absolute;
  margin-left: 0.75rem;
  top: 0.3rem;
  font-weight: 400;
  font-size: 0.5rem;
}

@media (min-width: 768px) {
  .navbar-nav .form-inline .input-group {
    width: auto;
  }
}

.sidebar {
  width: 90px !important;
  background-image: linear-gradient(to top, #6d6e70, #68696b, #636466, #5e5f61, #595a5c);
  min-height: calc(100vh - 41px);
}

.sidebar .nav-item:last-child {
  margin-bottom: 1rem;
}

.sidebar .nav-item .nav-link {
  text-align: center;
  padding: 0.75rem 1rem;
  width: 90px;
}

.sidebar .nav-item .nav-link span {
  font-size: 0.60rem;
  display: block;
}

.sidebar .nav-item .dropdown-menu {
  position: absolute !important;
  -webkit-transform: none !important;
  transform: none !important;
  left: calc(90px + 0.5rem) !important;
  margin: 0;
}

.sidebar .nav-item .dropdown-menu.dropup {
  bottom: 0;
  top: auto !important;
}

.sidebar .nav-item.dropdown .dropdown-toggle::after {
  display: none;
}

.sidebar .nav-item .nav-link {
  color: #ffffff;
}

.sidebar .nav-item .nav-link:active, .sidebar .nav-item .nav-link:focus, .sidebar .nav-item .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.sidebar.toggled {
  width: 0 !important;
  overflow: hidden;
}

@media (min-width: 768px) {
  .sidebar {
    width: 225px !important;
  }
  .sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 0.7rem 1.5rem;
    width: 225px;
  }
  .sidebar .nav-item .nav-link span {
    font-size: 0.9rem;
    display: inline;
  }
  .sidebar .nav-item .dropdown-menu {
    position: static !important;
    margin: 0 1rem;
    top: 0;
  }
  .sidebar .nav-item.dropdown .dropdown-toggle::after {
    display: block;
  }
  .sidebar.toggled {
    overflow: visible;
    width: 90px !important;
  }
  .sidebar.toggled .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .sidebar.toggled .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 1rem;
    width: 90px;
  }
  .sidebar.toggled .nav-item .nav-link span {
    font-size: 0.65rem;
    display: block;
  }
  .sidebar.toggled .nav-item .dropdown-menu {
    position: absolute !important;
    -webkit-transform: none !important;
    transform: none !important;
    left: calc(90px + 0.5rem) !important;
    margin: 0;
  }
  .sidebar.toggled .nav-item .dropdown-menu.dropup {
    bottom: 0;
    top: auto !important;
  }
  .sidebar.toggled .nav-item.dropdown .dropdown-toggle::after {
    display: none;
  }
}

.sidebar.fixed-top {
  top: 56px;
  height: calc(100vh - 56px);
  overflow-y: auto;
}

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -1.25rem;
  right: -1rem;
  opacity: 0.4;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    -webkit-column-count: 2;
    column-count: 2;
  }
}

:root {
  --input-padding-x: 0.75rem;
  --input-padding-y: 0.75rem;
}

.card-login {
  max-width: 25rem;
}

.card-register {
  max-width: 40rem;
}

.form-label-group {
  position: relative;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

footer.sticky-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(100% - 90px);
  height: 39px;
  background-color: #e9ecef;
}

footer.sticky-footer .copyright {
  line-height: 1;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  footer.sticky-footer {
    width: calc(100% - 225px);
  }
}

body.sidebar-toggled footer.sticky-footer {
  width: 100%;
}

@media (min-width: 768px) {
  body.sidebar-toggled footer.sticky-footer {
    width: calc(100% - 90px);
  }
}
.userdetails img{
    border: 2px solid #fff;
    border-radius: 50%;
    width: 39px;
    margin: -12px 0px;
}
.userdetails img + span {
  position: absolute;
  width: 55px;
  height: 55px;
  border: 15px solid #9f3122;
  border-radius: 70px;
  -moz-animation: heartbit 1s ease-out;
  -moz-animation-iteration-count: infinite;
  -o-animation: heartbit 1s ease-out;
  -o-animation-iteration-count: infinite;
  -webkit-animation: heartbit 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  z-index: -5!important;
  right: 20px;
  margin-top: -17px;
}

@keyframes heartbit {
	0% {
	  -webkit-transform: scale(0);
	  opacity: 0; }
	25% {
	  -webkit-transform: scale(0.1);
	  opacity: 0.1; }
	50% {
	  -webkit-transform: scale(0.5);
	  opacity: 0.3; }
	75% {
	  -webkit-transform: scale(0.8);
	  opacity: 0.5; }
	100% {
	  -webkit-transform: scale(1);
	  opacity: 0; }
  }
  .breadcrumb {
    padding: 0.55rem 1rem;
    font-size: 12px;
}
thead>tr{
  background:#f1f1f1;
  text-align: center!important;
}
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.dropdown-menu.custom-dropdown {
  left: -57px!important;
  margin-top: 10px !important;
}
.custom-dropdown .dropdown-item.active, .custom-dropdown .dropdown-item:active {
  color: #fff!important;
  text-decoration: none!important;
  background-color: #5d5e60!important;
}
.imgres{
	height: 100px;
	width: 100px;
}

.spinner{
  background-color:#42424286;
  cursor: no-drop;
  width:100vw;
  height: 100vh;
  position: fixed;
  z-index: 99999;
  
  }
  .spinner > span {
  border: 11px solid #808080; 
  border-top: 11px solid #9f3122; 
  border-left: 11px solid #9f3122;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }

    .error {
      color: red;
      margin-left: 5px;
    }
     
    label.error {
      display: inline;
    }
    .cli{
        display: none;
    }
    .alertMsg{
      width:300px;
      min-height:40px;
      padding:10px 15px;
      text-align: center;
      font-size: 14px;
      position: fixed;
      right:8px;
      bottom:8px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -moz-border-radius: 5px;
    }
    .alertMsg.sucessMsg{
      background-color: #dff0d8;
      border: 2px solid #3c763d;
      color: #3c763d;
    }
    .alertMsg.InfoMsg{
      background-color: #d9edf7;
      border: 2px solid #3170a9;
      color: #3170a9;
    }
    .alertMsg.warningMsg{
      background-color: #fcf8e3;
      border: 2px solid #8a6d3b;
      color: #8a6d3b;
    }
    .alertMsg.dangerMsg{
      background-color: #f2dede;
      border: 2px solid #a94442;
      color: #a94442;
    }
    #page-top .navbar-brand img {
      width: 107px;
      margin-left: 10px;
    }
    #page-top .navbar{
      padding: 0px;
      background:#fff!important;
    }
    #page-top .card-header{
      background: #6d6e70;
      color: #fff;
      font-size: 16px;
      padding: .25rem 1.25rem!important;
    }
    .search-table-value {
      border: transparent;
      background: transparent;
      outline: none;
      cursor: pointer;
      position: absolute;
      z-index: 9999;
      right: 50px;
      margin-top: -50px;
      font-size: 15px;
      color: #fff;
  }
    #banktransferwithdates_filter{
      display: none;
    }
    div#banktransferwithdates_filter{
      position: absolute;
      margin-top: -81px;
      right: 61px;
    }
    div#banktransferwithdates_filter input[type="search"]{
      border: transparent;
      visibility: visible;
      padding: 0px!important;
      outline: transparent!important;
      background: #f6f7f8;
      height: 27px!important;
      width: 270px;
      padding-left: 10px!important;
      border-radius: 2px;
    }
    div#banktransferwithdates_filter>label{
      color: #fff!important;
      visibility: hidden;
    }
    #banktransferwithdates_wrapper>.dt-buttons{
      position: absolute;
      right: -22px;
      margin-top: -81px!important;
      z-index: 9999!important;
    }
    #banktransferwithdates_wrapper>.dt-buttons:before{
      content: '';
      position: absolute;
      padding-right: 10px;
      border-right: 1px solid #bebebec7;
      height: 94%;
      margin-top: -3px;
      right: 42px;
    }
    #banktransferwithdates_wrapper>.dt-buttons > button.dt-button{
      background: transparent!important;
      border:none;
      outline: none;
    }
    #page-top form input[type="text"], input[type="search"], #fromdate, #todate{
        height: calc(2.25rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
    }
    .custom-table{
      overflow: visible;
      margin-top: -7px;
    }
    .selfsearch{
      box-sizing: border-box;
      display: inline-block;
      min-width: 1.5em;
      padding: 0.5em 1em;
      margin-left: 2px;
      text-align: center;
      text-decoration: none !important;
      cursor: pointer!important;
      border: 1px solid transparent;
      border-radius: 2px;
      color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    }
    .selfsearch:hover, .selfsearch:active{
    color: #fff;
    background-color: #545b62!important;
    border-color: #545b62!important;
}
button.dt-button, div.dt-button, a.dt-button {color:#fff!important; background:#6c757d!important; border-color:#6c757d!important; display: inline-block!important;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 10px!important;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  color: #fff!important;
  background: #6c757d!important;
  border-color: #6c757d!important;
}
.paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #ffffff !important;
  border: 1px solid transparent;
  border-radius: 2px;
}
.dt-button:hover, div.dt-button:hover, a.dt-button:hover, .paginate_button:hover, .paginate_button.current {
  color: #ffffff!important;
  background: #5a6268!important;
  border-color: #545b62!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
  color: #ffffff!important;
}
.card-body table{
  table-layout: fixed!important;
}
.card-body .table-responsive table td:nth-child(odd){
  background-color: #dcd7d721!important;
}
.card-body table tr th{
  text-align:center;
  vertical-align:top;
  border-right:1px solid #ffffff4d;
  background: #6d6e70ab;
  color: #fff;
  font-weight: lighter!important;
}
.card-body table tr th:last-child{
  border-right:transparent;
}
#banktransferwithdates tr th:nth-child(1){
  width:65px!important;
}
#banktransferwithdates tr th:nth-child(2){
  width:70px!important;
}
#banktransferwithdates tr th:nth-child(3){
  width:79px!important;
}
#banktransferwithdates tr th:nth-child(4){
  width:95px!important;
}
textarea{
  resize:none;
}
#banktransferwithdates tr th:nth-child(5){
  width:164px!important;
}
#banktransferwithdates tr th:nth-child(6){
  width:166px!important;
}
#banktransferwithdates tr th:nth-child(7){
  width:100px!important;
}
#banktransferwithdates tr th:nth-child(8){
  width:140px!important;
}
#banktransferwithdates tr th:nth-child(9){
  width:124px!important;
}
#banktransferwithdates tr th:nth-child(10){
  width:124px!important;
}
#banktransferwithdates tr th:nth-child(11){
  width:124px!important;
}
#banktransferwithdates tr th:nth-child(12){
  width:124px!important;
}
#banktransferwithdates tr th:nth-child(13){
  width:100px!important;
}
#banktransferwithdates tr th:nth-child(14), #banktransferwithdates tr th:nth-child(15){
  width:150px!important;
}
#banktransferwithdates tr th:nth-child(16), #banktransferwithdates tr th:nth-child(17){
  width:124px!important;
}
#banktransferwithdates tr th:nth-child(18){
  width:164px!important;
}
#banktransferwithdates tr th:nth-child(19){
  width:164px!important;
}
#banktransferwithdates tr th:nth-child(20){
  width:100px!important;
}
#banktransferwithdates tr th:nth-child(21), #banktransferwithdates tr th:nth-child(22), #banktransferwithdates tr th:nth-child(24){
  width:100px!important;
}
#banktransferwithdates tr th:nth-child(25), #banktransferwithdates tr th:nth-child(23), #banktransferwithdates tr th:nth-child(26), #banktransferwithdates tr th:nth-child(27), #banktransferwithdates tr th:nth-child(28), #banktransferwithdates tr th:nth-child(29), #banktransferwithdates tr th:nth-child(30), #banktransferwithdates tr th:nth-child(31){
  width:164px!important;
}
form.form-inline {
  margin-top:0px!important;
}

input[type='checkbox'].custom-check1 {
  visibility: hidden;
  margin-right: 20px;
  margin-left: 65px;
  margin-bottom: 20px;
  cursor: pointer;
  }
  
  input[type='checkbox'].custom-check1:first-child {
  margin-left: 0px;
  }
  
  input[type='checkbox'].custom-check1:before {
  visibility: visible;
  content: '';
  position: absolute;
  width: 20px !important;
  height: 20px !important;
  border: 2px solid #808080;
  background: #fff!important;
}

input[type='checkbox']:checked.custom-check1:after {
  border: 2px solid #808080;
  visibility: visible;
  content: "\f00c";
  font-family: FontAwesome !important;
  position: absolute;
  font-size: 12px;
  color: #9f3122;
  padding: 0px 2px;
  margin-top: -1px;
  background: #fff!important;
  }
  .content-label{
    display:inline-block;
    width: 200px;
    margin-top:20px;
  }